<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1520939817895-060bdaf4fe1b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1323&q=80);">
  <div class="container">
    <h1><strong>Voyager en France selon vos critères</strong></h1>
    <p>Découvrez les meilleurs villes pour vos futurs vacances </p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

